[submodule "src/cpp00"]
	path = src/cpp00
	url = https://github.com/Scarletsang/CPP00_to_04.git
[submodule "src/cpp01"]
	path = src/cpp01
	url = https://github.com/Scarletsang/CPP00_to_04.git
[submodule "src/cpp02"]
	path = src/cpp02
	url = https://github.com/Scarletsang/CPP00_to_04.git
[submodule "src/cpp03"]
	path = src/cpp03
	url = https://github.com/Scarletsang/CPP00_to_04.git
[submodule "src/cpp04"]
	path = src/cpp04
	url = https://github.com/Scarletsang/CPP00_to_04.git
