[submodule "src/cpp00"]
	path = src/cpp00
	url = https://github.com/Scarletsang/CPP-Modules.git
[submodule "src/cpp01"]
	path = src/cpp01
	url = https://github.com/Scarletsang/CPP-Modules.git
[submodule "src/cpp02"]
	path = src/cpp02
	url = https://github.com/Scarletsang/CPP-Modules.git
[submodule "src/cpp03"]
	path = src/cpp03
	url = https://github.com/Scarletsang/CPP-Modules.git
[submodule "src/cpp04"]
	path = src/cpp04
	url = https://github.com/Scarletsang/CPP-Modules.git
[submodule "src/cpp05"]
	path = src/cpp05
	url = https://github.com/Scarletsang/CPP-Modules.git
[submodule "src/cpp06"]
	path = src/cpp06
	url = https://github.com/Scarletsang/CPP-Modules.git
